.question-box {
  border: 3px solid var(--blue);
  padding: 11px;
  margin-bottom: 10px;
}

.correct-answer {
  /* color: rgba(100, 200, 110, 0.5); */
  color: var(--green);
}
.selected-correct-answer {
  /* background-color: rgba(100, 200, 110, 0.5); */
  background-color: var(--green);
  /* color: white; */
  padding-right: 15px;
}
.MuiFormControlLabel-label.Mui-disabled {
  color: black !important;
}
.selected-incorrect-answer {
  background-color: var(--red);
  color: white !important;
  padding-right: 15px;
}
.selected-incorrect-answer .MuiFormControlLabel-label.Mui-disabled {
  color: white !important;
}
.radio-label {
  color: black;
}
