.button {
  height: 40px;
  min-width: 100px;
  background: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  cursor: pointer;
}
.button:disabled {
  cursor: initial;
  border: 1px solid grey;
  color: grey;
}
.button:hover {
  background: white;
  color: black;
}
.button:disabled:hover {
  background: transparent;
  color: grey;
}
.next-button {
  width: 45%;
  font-size: 20px;
}
.prev-button {
  width: 45%;
  font-size: 20px;
}
.button-small-text {
  font-size: 16px;
}
.button-danger {
  color: red;
  border: 1px solid red;
}
.button-danger:hover {
  background: red;
  color: white;
}
