:root {
  --green: #84bd00;
  --blue: #4182cb;
  --dark: #222;
  --red: #c33;
}
body {
  min-height: 100%;
  min-width: 100%;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.Toastify__toast--success {
  background-color: var(--green) !important;
}
